<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <div class="uk-position-center uk-width-1-1">
      <div class="uk-flex-center uk-width-1-1" uk-grid>
        <div id="logo">
        </div>
        <div style="float:none;">Cadastro</div>
      </div>
      <div class="uk-flex-center uk-width-1-1" uk-grid>
        <form>

          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" placeholder="usuario">
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
              <input class="uk-input" placeholder="senha">
            </div>
          </div>

          <a class="uk-button uk-button-default uk-width-1-1" href="/cadastrar">Cadastrar</a>

        </form>
      </div>
    </div>
</body>
</html>