<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>

<style>
body{
    font-family: 'calibri';
    margin: 0;
    background: linear-gradient(169deg,#f7d794,#966705)!important;
    min-height: 100vh;
}
#nav{
    /*background-color: #9c27b0;*/
    width: 100%;
    height: 40px;
}
#del{
    padding-top: 20vh;
    text-align: center;
}
#sc1{
    width: 100%;
}
#areasc1{
    width: 90%;
    margin: auto;
}
#ffsc1{
    width: 100px;
    height: 100px;
    background-color: #000000;
    margin: auto;
}
textarea{
    width: 90%;
}
</style>

<script type="text/javascript" src="/js/lazar/grid.js"></script>
<script type="text/javascript" src="/js/lazar/version.js"></script>
<script type="text/javascript" src="/js/lazar/detector.js"></script>
<script type="text/javascript" src="/js/lazar/formatinf.js"></script>
<script type="text/javascript" src="/js/lazar/errorlevel.js"></script>
<script type="text/javascript" src="/js/lazar/bitmat.js"></script>
<script type="text/javascript" src="/js/lazar/datablock.js"></script>
<script type="text/javascript" src="/js/lazar/bmparser.js"></script>
<script type="text/javascript" src="/js/lazar/datamask.js"></script>
<script type="text/javascript" src="/js/lazar/rsdecoder.js"></script>
<script type="text/javascript" src="/js/lazar/gf256poly.js"></script>
<script type="text/javascript" src="/js/lazar/gf256.js"></script>
<script type="text/javascript" src="/js/lazar/decoder.js"></script>
<script type="text/javascript" src="/js/lazar/qrcode.js"></script>
<script type="text/javascript" src="/js/lazar/findpat.js"></script>
<script type="text/javascript" src="/js/lazar/alignpat.js"></script>
<script type="text/javascript" src="/js/lazar/databr.js"></script>

<script src="/js/qrjuma.js"></script>

<body>
    <div id="nav"></div>
    <div id="del">Escaneie o QR CODE</div>

    <div id="areasc1">
        <video id="sc1" autoplay></video>
    </div>

    <!--<div id="ffsc1"></div>-->
    
    <img src="" style="display: none;"></img>
    
    <canvas style="display: none;"></canvas>
    
    <textarea id="res" rows="2"></textarea><br><br>
    <textarea id="err" rows="2"></textarea><br><br>
</body>


<script>
    qrjuma.decode('#sc1', 2, (err, res) => {
        document.querySelector('#res').value = res;
    });
</script>

</html>