.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top71 { margin-top:71px; }
.top100 { margin-top:100px; }

body {
    background: white;
}

.bgbody > img {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.bgbody {
    background: no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: block;
    left: -5px;
    top:-5px;
    bottom:-5px;
    position: fixed;
    right: -5px;
    z-index: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    margin:-25px;
}

.nav-yellow {
    background: #a7915d;
}

.center-block-imp {
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#fbc02d, #fbc02d), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#fbc02d, #fbc02d), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

[id^='panel_prod_']:hover {
    cursor: pointer;
}
[id^='panel_prod_'].selecionado {
    background-color: #ecffd9;
}

/* cliente produtos */
#listaProdutos{
    height: 42vh;
    /* background: #fbc02d; */
    overflow: auto;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .bgbody {
        background-position: 0px 0px;
    }
}