<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../head') %>
</head>

<body>
	<%- include('../navbar') %>

	<div class="wrapper">
		<div class="header">
			<div class="container-fluid">
				<div class="row top71">
					<ul class="nav nav-tabs nav-yellow">
						<li class="">
							<a data-toggle="tab" href="#perfil">Perfil</a>
						</li>
						<li class="active">
							<a data-toggle="tab" href="#produtos">Produtos</a>
						</li>
						<li>
							<a data-toggle="tab" href="#comanda">Comanda</a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="perfil" class="tab-pane fade">
							<%- include('perfil') %>
						</div>
						<div id="produtos" class="tab-pane fade in active">
							<%- include('produtos') %>
						</div>
						<div id="comanda" class="tab-pane fade">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>