<img class="center-block top10" src="img/qr.png" width="200px">
<h2 class="text-center"><%- usuario.nome %></h2>

<h3 class="text-center">7777-7777</h3>
<button class="btn btn-warning center-block-imp">Alterar</button>