<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head') %>

    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js');
        }
    </script>


    <script src="assets/lib/clipboard/dist/clipboard.min.js"></script>
    <script src="assets/app.js"></script>
</head>

<body>
    <div id="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

    <video id="camera" autoplay>You need a camera in order to use this app.</video>
    <div id="snapshotLimitOverlay">
        <div id="about">
            <h4>QR Code Scanner</h4>
            <p>
                This is a lightweight progressive web app for scanning QR Codes offline.<br />
                You'll need at least a camera and a compatible browser.<br />
                Source code is available on GitHub (Minishlink/pwa-qr-code-scanner), click the <strong>About</strong> button.
            </p>
        </div>
    </div>
    <canvas id="snapshot"></canvas>
    <button id="flipCamera" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Flip Camera</button>
    <a id="aboutButton" type="button" href="https://github.com/Minishlink/pwa-qr-code-scanner" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">About</a>

    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Your text</h4>
        <div class="mdl-dialog__content">
            <p id="resultsContainer"><span id="result"></span></p>
            <p>
                <button type="button" class="copy mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" data-clipboard-target="#result">Copy</button>
                <a class="search mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">Search</a>
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="continue mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">Continue</button>
        </div>
    </dialog>
</body>

</html>